.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF3E0;
    height: 78vh;
    padding: 80px;
}


.card {
    width: 550px;
    height: 400px;
    background: linear-gradient(135deg, #0f0520, #1b1b2f);
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}