/* Add some global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a202c;
  /* Dark gray-blue color */
  font-family: Arial, sans-serif;
}

/* Form container styling */
.login-form-container {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Heading styling */
.login-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Input container styling */
.cont {
  margin-bottom: 15px;
}

/* Input field styling */
.inp-username {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.inp-username:focus {
  border-color: #84fab0;
}

/* Button styling */
.custom-button {
  background-color: #84fab0;
  color: black;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 10px;

}

.custom-button:hover {
  background-color: #8fd3f4;
}

/* Error message styling */
.error-message {
  color: #ff4d4f;
  font-size: 14px;
  margin-bottom: 10px;
}

/* User not found message styling */
.user-found {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 10px;
}